/* 20200702 --YA-- Untuk Tablet lebih dari 1000px device*/
@media all and (min-width: 1001px) {
  .top-wrapper h1 {
    font-size: 32px;
  }
  .menu-icon {
    display: none;
  }
  .header-logo p {
    font-size: 20px;
  }
  .header-right {
    font-size:20px;

    padding-top:20px;
    padding-right:5px;
    display:block;
    text-align:center;
  }
  .header-right a {
    font-size:20px;
    padding:15px 15px;
    text-align:center;
  }

  .heading {
    padding-top: 100px;
    padding-bottom: 10px;  
  }
  .heading h2 {
    font-size: 35px;
  }
    
  .top-wrapper {   
    text-align: left;
    background-size: 100% 100%;
    margin-bottom:auto;
    height:414px;    
  }
  .top-wrapper h1 {
    color: white;
    font-size: 24px;
    line-height: 34px;
  }
  .top-wrapper p {
    font-size: 18px;
    line-height: 20px;
  }
  .btn {
    font-size:25px;
    padding-bottom:0px;
  }
  
  .package-wrapper { 
    width: auto;
    height: auto;
    padding-bottom: 10px;
  }
  .package h1 {
    padding-top:25px;
    font-weight:bolder;
    font-size: 30px;
  }
  .package p {
    font-size: 23px;
    margin-top:1px;
  }
  .package blink {
    font-size:20px;
  }
  .package marquee {
    font-size:20px;
  }

  .discount p {
    font-size : 15px;
    padding-top: 1299px;
    margin-bottom: auto;
  }

  .form-wrapper {
    border-bottom: 5px solid #eee;
    margin-bottom: auto;
    text-align: center;
    height: auto;
    text-align: left;
  }
  .form-wrapper p{
    font-size: 18px;
    font-weight:bolder;
    color: black;
  } 
  .form-wrapper h3{
    color: black;
  }  
  input , textarea {
    width:150px;
    margin:0px 0px 5px 0px;
    padding:4px;
    font-size:16px;
    border:none;
    border-radius: 2px;
    background: #edab97;
    opacity: 0.7;
    color: #fff;
  }

  .message {
   font-size:20px;
    padding: 12px 24px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }

  footer {
    text-align: center;
    height:auto;
    padding-bottom: 2px;
  }
  .footer-right  {
    font-size: 20px;
  }
  .footer-right a {
    font-size: 15px;
  }
  .footer-right p {
    font-size: 20px;
  }
  .footer-left h4 {
    font-size: 20px;
  }
}


/* 20200702 --YA-- Untuk Tablet device*/
@media all and (max-width: 1000px) {
  .container {
    padding-right: 0px
  }
  .header-logo p {
    font-size: 20px;
  }
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .fa {
    display: block;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
    background-size: 100% 90%;
    margin-bottom:auto;
    height:395px;    
  }
  
  .top-wrapper h1 {
    margin-top:10px;
    font-size: 14px;
    line-height: 13px;
    color: white;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .heading {
    padding-top: 20px;
  }
  .heading h2 {
    font-size: 20px;
  }

  .package-wrapper {
    height: 1055px; 
    width: 100%;
    background-size: 100% 100%;
  }
  .package h1 {
    padding-top:25px;
    font-weight:bolder;
    font-size: 20px;
  }
  .package p {
    font-size: 17px;
    margin-top:1px;
  }

  .discount p {
    font-size : 15px;
    padding-top: 915px;
    margin-bottom: auto;
  }

  .form-wrapper {
    border-bottom: auto solid #eee;
    margin-bottom: auto;
    text-align: center;
    height: auto;
    text-align: left;
  }
  .form-wrapper p{
    font-size: 12px;
    color: black;
  } 
  .form-wrapper h3{
    color: black;
  }
  input , textarea {
    width:150px;
    margin:0px 0px 5px 0px;
    padding:4px;
    font-size:10px;
    border:none;
    border-radius: 2px;
    background: #edab97;
    opacity: 0.7;
    color: #fff;
  }



  footer {
    text-align: center;
  }
  .footer-right {
    padding-right: 5px;
  }
}



/* 20200702 --YA-- Untuk Handphone device*/
@media all and (max-width: 670px) {
  .container {
    padding-right: 0px
  }
  .header-logo p {
    font-size: 20px;
  }
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .fa {
    display: block;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
    background-size: 100% 90%;
    margin-bottom:auto;
    height:395px;    
  }
  
  .top-wrapper h1 {
    margin-top:10px;
    font-size: 14px;
    line-height: 13px;
    color: white;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .heading {
    padding-top: 20px;
  }
  .heading h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .package-wrapper {
    height: 1090px; 
    width: 100%;
    background-size: 100% 100%;
  }
  .package h1 {
    padding-top:20px;
    font-weight:900;
  }

  .discount p {
    font-size: 12px;
    padding-top: 935px;
  }

  .form-wrapper {
    border-bottom: auto solid #eee;
    margin-bottom: auto;
    text-align: center;
    height: auto;
    text-align: left;
  }
  .form-wrapper p{
    font-size: 12px;
    color: black;
  }
  .form-wrapper h3{
    color: black;
  }
  input , textarea {
    width:150px;
    margin:0px 0px 5px 0px;
    padding:4px;
    font-size:10px;
    border:none;
    border-radius: 2px;
    background: #edab97;
    opacity: 0.7;
    color: #fff;
  }



  footer {
    text-align: center;
  }
  .footer-right {
    padding-right: 5px;    
  }
}
