/* 20200702 --YA-- Untuk Tablet device*/
@media all and (max-width: 1000px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
  
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
}



/* 20200702 --YA-- Untuk Handphone device*/
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .fa {
    display: block;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
    background-size: cover;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  
  .lessons h2 {
    font-size: 14px;
  }
  .lessons p {
    font-size: 12px;
  }
  .lessons img {
    width: 50%;
    height: 50%;
  }
  .lesson {
    width: 100%;
  }
  

  .form-wrapper {
    border-bottom: auto solid #eee;
    margin-bottom: auto;
    text-align: center;
    height: auto;
    text-align: left;
  }
  .form-wrapper p{
    font-size: 12px;
  } 
  input , textarea {
    width:150px;
    margin:0px 0px 5px 0px;
    padding:4px;
    font-size:10px;
    border:none;
    border-radius: 2px;
    background: #edab97;
    opacity: 0.7;
    color: #fff;
  }



  footer {
    text-align: center;
  }
}