* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway";
  
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.top-wrapper {
  padding: 180px 0 100px 0 ;
  background-image: url("./assets/senja2.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}
.top-wrapper h1 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  opacity: 0.8;
}


.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}



li {
  list-style: none;
  float: left;
  padding: 10px 100px 15px 5px;
  font-size: 20px;
}

header {
  background-color: #edab97;
  color: #704233;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 10px;;
}
.header-left {
  float: left;
}

.header-logo {
  float: left;
  font-size: 50px;
  padding: 10px 10px;
  
}

.header-list {
  float: right;
  margin-right: -25px;
}

.header-list a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-list a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display: none;
}


.package-wrapper {
  background-image: url('./assets/Simple-Vector-Abstract-Waves-Background-Orange.jpg');
  background-size: cover; 
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  /* background-color: #f7f7f7; */
  background-color: #5f5d60;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-size: 45px;
  color: #fff;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-size: 25px;
  color: #800000;
}

.packages {
  float: right;
  text-align: right;
  color: #fff;
}

.discount p {
  color: #fff;
  font-size: 20px;
}


.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
  font-size: 12px;
}

.message {
  padding: 5px 10px;
  background-color: #ff0000;
  cursor: pointer;
  border-radius: 4px;
}

span {
  font-size: 10px;
}

.form-wrapper {
  border-bottom: 1px solid #eee;
  margin-bottom: 80px;
  text-align: center;
  height: 400px;
  text-align: left;
}
.form-wrapper p {
  text-align: left;
  font-size: 15px;
}
.form-wrapper h3 {
  font-weight: 200;
  padding-bottom: 5px;
  border-bottom: 2px solid #dee7ec;
  margin-bottom: 30px;
}


.contact-form {
  padding-top: 100px;
}
input , textarea {
  width:300px;
  margin:5px 0px 10px 0px;
  padding:8px;
  font-size:15px;
  border:none;
  border-radius: 4px;
  background: #edab97;
  opacity: 0.7;
  color: #fff;
}
.form-submit {
  background-color:#edab97;
  color:#704233;
  font-weight: 200;
  padding: 8px 24px;
  width: 100px;
  text-align: center;
}
.form-submit:hover {
  cursor: pointer;
}



footer {
  padding-top: 3px;
  background-color: #704233;
  height: 150px;
}
.footer-left {
  float:left;
  line-height: 45px
}
.footer-right {
  float: center;
  line-height: 15px;
  padding-top: 10px;
}
footer h4 {
  color: #fff;
  letter-spacing: 1px;
}
footer p {
  text-align: center;
  font-size: 10px;
  color: #fff;
  font-weight: normal;
}
.footer-right h5 {
  color: #fff;
  text-align: right;
  letter-spacing: 1px;
}
.link-footer {
    text-align: right;
    margin: 3px 0px;
}
a:hover {
  opacity:0.8;
}
footer a {
  color: white;
  display: block;
  font-size: 12px;
  padding: 2px 0px 0px 0px;
}

.fab {
  margin-right: 3px;
}